@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    cupcake --default,
    dark --prefersdark;
}

.table,
.input,
.collapse,
.collapse-arrow,
.collapse-title,
.floating-label {
  position: inherit !important;
}

/* * {
  position: inherit;
} */
